@use "../../styles/variables" as v;

.dashboard-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;

  &__container {
    display: flex;
    flex: 1;
    position: relative;

  }

  &__sidebar-wrapper {
    width: 283px; 
    background: #fff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
    
    .sidebar-overlay {
      display: none;
    }

    // Responsive Sidebar Logic
    @media (max-width: 1024px) {
      position: fixed;
      left: -283px; 
      top: 0;
      bottom: 0;
      z-index: 1000;
      transition: left 0.3s ease;

      &.is-open {
        left: 0;
        
        .sidebar-overlay {
          display: block;
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(33, 63, 125, 0.2);
          z-index: -1;
        }
      }
    }
  }

  &__content {
    flex: 1;
    background-color: #FBFBFB; 
    padding: 60px; 
    overflow-x: hidden; 
    
    @media (max-width: 1100px) {
      padding: 40px;
    }

    @media (max-width: 768px) {
      padding: 20px;
    }
  }
}