.loader {
  width: 20px;
  height: 20px;
  border: 4px solid #ffffff;
  border-left-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
