@use "../../styles/variables" as v;

.sidebar {
  background-color: #ffffff;
  width: 283px;
  height: 100%;
  box-shadow: 0px 5px 20px 0px #0000000A;
  padding-top: 39px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: #213f7d20;
    border-radius: 10px;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 12px 0 12px 30px;
    text-decoration: none;
    color: v.$secondary-color;
    font-size: 16px;
    opacity: 0.6;
    border-left: 3px solid transparent;
    transition: all 0.2s ease;
    cursor: pointer;

    &--switch {
        opacity: 1;
        margin-bottom: 20px;
    }

    &--active {
      background: rgba(57, 205, 204, 0.06);
      border-left-color: v.$primary-color;
      opacity: 1;
    }

    &:hover:not(.sidebar__item--active) {
      background: rgba(0, 0, 0, 0.02);
      opacity: 0.8;
    }
  }

  &__header {
    font-size: 12px;
    font-weight: 500;
    color: v.$grey-primary;
    margin: 30px 0 10px 30px;
    text-transform: uppercase;
  }

  &__icon {
    width: 16px;
    height: 16px;
    margin-right: 12px;
  }

  &__text {
    flex: 1;
  }

  &__chevron {
    width: 14px;
    margin-right: 30px;
  }
}